<!-- <div class="columns is-multiline">
    <div class="column is-one-quarter is-inline-flex" *ngFor="let product of products">
        <app-card-tarea [product]="product"></app-card-tarea>
    </div>
</div>  -->

<!-- <app-optimized-image></app-optimized-image> -->
<!-- <app-card-proyeccion-contenido>
    <ng-container contenido>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, tempora vitae assumenda eos earum iste vero totam! Et doloremque officia dolorum aperiam obcaecati quos animi ratione quaerat, reiciendis cum eveniet!
    </ng-container>
</app-card-proyeccion-contenido>
     -->
<!-- <app-card-tarea-proyeccion-contenido></app-card-tarea-proyeccion-contenido> -->
<router-outlet></router-outlet>
