<p>{{ 'formularios por plantilla' | uppercase }}</p>


<h2>Formulario de Registro de Usuario</h2>

<form (submit)="submit()" #registerForm="ngForm" class="box">

    <div class="field">
        <label class="label">Username</label>
        <div class="control">
            <input title="username" type="text" autocomplete="off" class="input" id="username" name="username" required
                [(ngModel)]="model.username" #username="ngModel" usernameUnico [ngModelOptions]="{updateOn: 'blur'}">

            <div class="help is-danger" *ngIf="username.invalid && (username.dirty || username.touched)">
                <div *ngIf="$any(username.errors).required">
                    Username es requerido.
                </div>
                <div *ngIf="$any(username.errors).usernameUnico">
                    Ese nombre de usuario ya está en uso
                </div>
            </div>
        </div>
    </div>

    <div class="field">
        <label class="label">Password</label>
        <div class="control">
            <input title="password" type="text" class="input" id="password" name="password"
                [(ngModel)]="model.password" required minlength="4" #password="ngModel" passwordValidation>

            <div class="help is-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
                <div *ngIf="$any(password.errors).required">
                    Password es requerido
                </div>
                <div *ngIf="$any(password.errors).minlength">
                    La longitud mímina del password debe de ser de 4 caracteres.
                </div>
                <div *ngIf="$any(password.errors).passwordValidation">
                    {{$any(password.errors).passwordValidation.message}}
                </div>
            </div>
        </div>
    </div>

    <div class="field">
        <label class="label">Escoja el tipo de suscripción</label>
        <div class="control">
            <div class="select">
                <select title="suscripcion" class="form-control" id="suscripcion" name="suscripcion"
                    [(ngModel)]="model.suscripcion">
                    <option *ngFor="let suscripcion of suscripciones" [value]="suscripcion.value">{{suscripcion.text}}
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div class="field">
        <label class="checkbox">
            <input type="checkbox" class="form-check-input" id="promociones" name="promociones"
                [(ngModel)]="model.promociones">
            Deseo recibir promociones
        </label>
    </div>

    <button type="submit" class="button is-primary mr-2" [disabled]="!registerForm.form.valid">Enviar</button>
    <button type="button" class="button is-light" (click)="refrescar()">Refrescar</button>

</form>
