<div class="container content">
    <div class="columns is-variable is-5 mt-2">
        <div class="column">
            <ul>
                <li routerLink="/clases/interpolacion"> Interpolacion</li>
                <li routerLink="/clases/binding/eventos"> Bindig Eventos</li>
                <li routerLink="/clases/binding/propiedad"> Bindig Propiedad</li>
                <li routerLink="/clases/binding/atributos"> Bindig Atributos</li>
                <li routerLink="/clases/two-way-data-binding"> Two way data binding / ng Model </li>
                <li routerLink="/clases/directivas/ng-if"> Directiva Estructural: ng if</li>
                <li routerLink="/clases/directivas/ng-for"> Directiva Estructural: ng for</li>
                <li routerLink="/clases/directivas/ng-switch"> Directiva Estructural: ng switch</li>
                <li routerLink="/clases/directivas/ng-style"> Directiva atributo: ng style</li>
                <li routerLink="/clases/directivas/ng-class"> Directiva atributo: ng class</li>
                <li routerLink="/decorador"> Input | Output</li>
            </ul>
        </div>
        <div class="column">
            <ul>
                <li routerLink="/formularios/plantilla"> Formularios Plantilla</li>
                <li routerLink="/formularios/reactivo-basico"> Formularios Reactivo Básico</li>
                <li routerLink="/formularios/reactivo-intermedio"> Formularios Reactivo Intermedio</li>
                <li routerLink="/formularios/reactivo-avanzado"> Formularios Reactivo Avanzado</li>
            </ul>
        </div>
        <div class="column">
            
        </div>
        <div class="column">
            <ul>
                <li routerLink="/clases/test-dynamic-component"> Test Dynamic Components</li>
            </ul>
            <hr>
            <ul>
                <li routerLink="/standalone"> StandAlone Component</li>
            </ul>
            <ul>
                <li routerLink="/standalone/route"> Stand Alone with Routes</li>
            </ul>
        </div>
        
        <div class="column">
            <ul>
                <li routerLink="/tarea/card-tarea-input"> Tarea Card @Input</li>
                <li routerLink="/tarea/card-tarea-proyeccion-contenido"> Tarea Card Proyeccion de Contenido</li>
                <li routerLink="/tarea/imagenes-optimizadas"> Tarea Imagenes Optimizadas</li>
            </ul>
        </div>
    </div>
     <hr>
    <router-outlet></router-outlet>
</div>