<div class="container">
    <div class="columns">
        <div class="column">
            <ul>
                <li routerLink="/interpolacion"> Interpolacion</li>
                <li routerLink="/binding/eventos"> Bindig Eventos</li>
                <li routerLink="/binding/propiedad"> Bindig Propiedad</li>
                <li routerLink="/binding/atributos"> Bindig Atributos</li>
                <li routerLink="/two-way-data-binding"> Two way data binding / ng Model </li>
                <li routerLink="/directivas/ng-if"> Directiva Estructural: ng if</li>
                <li routerLink="/directivas/ng-for"> Directiva Estructural: ng for</li>
                <li routerLink="/directivas/ng-switch"> Directiva Estructural: ng switch</li>
                <li routerLink="/directivas/ng-style"> Directiva atributo: ng style</li>
                <li routerLink="/directivas/ng-class"> Directiva atributo: ng class</li>
            </ul>
        </div>
        <div class="column">
            <ul>
                <li routerLink="/decorador"> Input | Output</li>
            </ul>
        </div>
        <div class="column">
            <ul>
                <li routerLink="/test-dynamic-component"> Test Dynamic Components</li>
            </ul>
        </div>
        <div class="column">
    
        </div>
    </div>
     <hr>
    <router-outlet></router-outlet>
</div>