<div class="columns is-multiline is-mobile">
  <div class="column is-one-quarter" *ngFor="let item of [0, 1, 2, 3, 4]">
    <app-card-proyeccion-contenido>
      <ng-container contenido>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis,
        tempora vitae assumenda eos earum iste vero totam! Et doloremque officia
        dolorum aperiam obcaecati quos animi ratione quaerat, reiciendis cum
        eveniet!
      </ng-container>
    </app-card-proyeccion-contenido>
  </div>
</div>
